*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	background: url(fondo1.jpg) fixed;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position:center;*/
	color: #E47D16 ;
	font-family: cursive;

}

.zawarudo{
	position:relative;
	left: 120px;
	top: 90px;
	width: 100%;
	height: 100%;
}

.p1{
	position: relative;
	margin-bottom: 0;
	top: 180px;
	left: 250px;
	width: 300px;
	height: 280px;
	
}

.fie1{
	border-style: solid;
	border-width: 4px;
	height: 280px;
	width: 300px;

}

.fie5{
	height: 270px;
}

.pz1{
	position: relative;
	top: 2px;
}

.ima1{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.prec{
	position: relative;
	border-style: solid;
	border-color: black;
	top: 1px;
	left: -3px;
	height: 36px;
	width: 290px;
}

.ph{
	position: relative;
	left: 4px;

}

img{
	width: 277px;
	height: 180px;
}

fieldset{
	border-style: solid;
	border-width: 4px;
	height: 280px;
	width: 300px;
}

.p2{
	position: relative;
	top: -100px;
	left: 600px;
	width: 300px;
}

.p3{
	position: relative;
	top: -100px;
	left: 600px;
	width: 300px;	
}

.p4{
	position: relative;
	top: -380px;
	left: 250px;
}

.p5{
	position: relative;
	top: -655px;
	left: 600px;
	width: 300px;
}

.p6{
	position: relative;
	top: -600px;
	left: 600px;	
}

.p7{
	position: relative;
	top: -380px;
	left: 250px;
}

.ima2{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.ima3{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.ima4{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.ima5{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.ima6{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.ima7{
	position: absolute;
	border-style: solid;
	border-color: black;
	width: 290px;
	height: 190px;
	
}

.pp{
	position: relative;
	left: 4px;

}

.pq{
	position: relative;
	left: 4px;

}

.pv{
	position: relative;
	left: 4px;

}

.pk{
	position: relative;
	left: 4px;

}

.pc{
	position: relative;
	left: 4px;

}

.pm{
	position: relative;
	left: 4px;

}
/*.fotter{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	 margin: 0%;
	}*/
	
	footer{
	width: 100%;
	background: #E47D16;
	color:#000;
	margin-bottom: 0%;
	padding: 10px;
	}
	