 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pizza1.jpg?rand=c84c");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 313px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 192px;
    margin-left: 22px;
    margin-right: 22px;
  }
} .u-section-2 {
  background-image: url("images/4490229.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1931px;
}

.u-section-2 .u-text-1 {
  margin: 496px auto 0;
}

.u-section-2 .u-image-1 {
  width: 301px;
  height: 472px;
  margin: 71px 140px 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: -472px 570px 0 140px;
}

.u-section-2 .u-text-3 {
  width: 430px;
  font-size: 3rem;
  margin: 371px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 93px 622px 0 268px;
}

.u-section-2 .u-text-5 {
  text-align: center;
  margin: -36px 270px 0 636px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 78px 311px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 56px;
  height: 62px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  margin: -27px auto 60px 317px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 56px;
  height: 62px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1989px;
  }

  .u-section-2 .u-image-1 {
    height: 473px;
    margin-top: 65px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 449px;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 93px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 73px;
    margin-right: 579px;
    margin-left: 111px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 111px;
    margin-left: 595px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-right: 152px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 160px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1593px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 290px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 469px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 485px;
    margin-right: 1px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 306px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2159px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 107px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 72px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 250px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: 250px;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -181px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 569px;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  margin-top: 66px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-3 .u-gallery-1 {
    height: 802px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1136px;
  }
}